@import "tailwindcss";

@layer base {
  html, body {
    @apply scroll-smooth scroll-pt-[100px] min-h-screen;
  }
  body {
    background-image:
      radial-gradient(circle at 20% 30%, rgba(255, 255, 255, 0.2), transparent 50%),
      radial-gradient(circle at 80% 70%, rgba(255, 255, 255, 0.15), transparent 50%),
      linear-gradient(135deg, rgba(148, 244, 192, 0.40), rgba(201, 247, 250, 0.30), rgba(150, 228, 252, 0.40));
    background-blend-mode: overlay;
  }
}

@layer components {
  .section-container {
    @apply px-4 sm:px-6 lg:px-8 py-16 container mx-auto;
  }
}
